## Last commit: 2025-12-16 17:46:30 UTC by root
version 25.4R1.12;
system {
    host-name s1;
    root-authentication {
        encrypted-password "$6$p5sjUGim$AzrNhqo/jWMit08NUT5HwoGY4t18RUAjZztk.EBPPkOoHedSfTuTjjV5zaU53fSz1ORZK0jbVQO.UIS2eKd7I."; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$/E.Q3xsv$ji8kWc5MKd8YuJcVwmIn4TRWynXwOQPEH3o90jtRpJ8iw/IWezsssjpKCDh.b97YTBZcuBMuVL8RD5w9QlMbt/"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 56;
        }
    }
    network-services enhanced-ip;
}
interfaces {
    ge-0/0/0 {
        mtu 9100;
        unit 0 {
            family inet {
                address 10.1.1.0/31;
            }
        }
    }
    ge-0/0/1 {
        mtu 9100;
        unit 0 {
            family inet {
                address 10.1.2.0/31;
            }
        }
    }
    ge-0/0/2 {
        mtu 9100;
        unit 0 {
            family inet {
                address 10.1.3.0/31;
            }
        }
    }
    ge-0/0/3 {
        mtu 9100;
        unit 0 {
            family inet {
                address 10.1.4.0/31;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    irb {
        unit 700 {
            proxy-macip-advertisement;
            virtual-gateway-accept-data;
            family inet {
                address 10.1.7.1/24 {
                    preferred;
                    virtual-gateway-address 10.1.7.254;
                }
            }
        }
        unit 900 {
            proxy-macip-advertisement;
            virtual-gateway-accept-data;
            family inet {
                address 10.1.9.1/24 {
                    preferred;
                    virtual-gateway-address 10.1.9.254;
                }
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 100.0.1.1/32;
            }
        }
        unit 1 {
            family inet {
                address 100.0.1.101/32;
            }
        }
    }
}
forwarding-options {
    evpn-vxlan {
        host-originated-packets;
    }
}
policy-options {
    policy-statement LoadBalance {
        then {
            load-balance per-packet;
        }
    }
    policy-statement Loopback {
        from {
            protocol direct;
            interface lo0.0;
        }
        then accept;
    }
}
routing-instances {
    MAC-VRF-CBR {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                default-gateway no-gateway-community;
                extended-vni-list all;
            }
        }
        vtep-source-interface lo0.0;
        service-type vlan-aware;
        route-distinguisher 100.0.1.1:9000;
        vrf-target {
            target:64512:9000;
            auto;
        }
        vlans {
            VNI_7000 {
                vlan-id 700;
                l3-interface irb.700;
                vxlan {
                    vni 7000;
                }
            }
            VNI_9000 {
                vlan-id 900;
                l3-interface irb.900;
                vxlan {
                    vni 9000;
                }
            }
        }
    }
    VRF_1 {
        instance-type vrf;
        interface irb.100; ## 'irb.100' is not defined
        interface lo0.1;
        route-distinguisher 100.0.1.1:100;
        vrf-target target:64513:10000;
    }
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    router-id 100.0.1.1;
    autonomous-system 64512;
    forwarding-table {
        export LoadBalance;
    }
}
protocols {
    bgp {
        group Underlay {
            type external;
            family inet {
                unicast;
            }
            export Loopback;
            local-as 65100;
            multipath {
                multiple-as;
            }
            neighbor 10.1.1.1 {
                peer-as 65101;
                bfd-liveness-detection {
                    minimum-interval 300;
                    minimum-receive-interval 300;
                    multiplier 3;
                }
            }
            neighbor 10.1.3.1 {
                peer-as 65103;
            }
            neighbor 10.1.4.1 {
                peer-as 65104;
            }
            neighbor 10.1.2.1 {
                peer-as 65102;
            }
        }
        group Overlay {
            type internal;
            local-address 100.0.1.1;
            family evpn {
                signaling;
            }
            cluster 0.0.0.1;
            peer-as 64512;
            local-as 64512;
            multipath {
                multiple-as;
            }
            bfd-liveness-detection {
                minimum-interval 350;
                session-mode automatic;
            }
            neighbor 100.0.2.1;
            neighbor 100.0.2.2;
            neighbor 100.0.2.3;
            neighbor 100.0.2.4;
            neighbor 100.0.1.1;
        }
        group Overlay_RR_MESH {
            type internal;
            local-address 100.0.1.1;
            family evpn {
                signaling;
            }
            peer-as 64512;
            local-as 64512;
            multipath;
            bfd-liveness-detection {
                minimum-interval 350;
                multiplier 3;
                session-mode automatic;
            }
            neighbor 100.0.1.2;
        }
        traceoptions {
            file bgp-debug;
            flag open detail;
        }
    }
    evpn {
        encapsulation vxlan;
        default-gateway no-gateway-community;
        extended-vni-list all;
    }
}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher 100.0.1.1:1;
    vrf-target {
        target:64512:1111;
        auto;
    }
}
vlans {
    VNI_10000 {
        vlan-id 100;
        l3-interface irb.100;
        vxlan {
            vni 10000;
        }
    }
}