## Last commit: 2025-12-16 17:46:30 UTC by root
version 25.4R1.12;
system {
    host-name l2;
    root-authentication {
        encrypted-password "$6$txiqoFxv$qJH.gp.ypOW0kMbFHt5xsWebod1ouhEWCsqA5hQGRvXytrbU2XU04RU8PGFgRi1nHu80HbLYKAlzDFUcm7KUf1"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$bx4BtOXn$y30fDsFQf40k47CNi/r3y8goM./At0TOHO9zObgJb5tdTTUV/iRSgLMIBZj7ss76Cq6A0ptXGIVzMbrk95c/r."; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 10;
        }
    }
    fpc 0 {
        pic 0 {
            number-of-ports 56;
        }
    }
    network-services enhanced-ip;
}
interfaces {
    ge-0/0/0 {
        mtu 9100;
        unit 0 {
            family inet {
                address 10.1.2.1/31;
            }
        }
    }
    ge-0/0/1 {
        mtu 9100;
        unit 0 {
            family inet {
                address 10.2.2.1/31;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members 111;
                }
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members 101;
                }
            }
        }
    }
    ge-0/0/4 {
        ether-options {
            802.3ad ae12;
        }
    }
    ae12 {
        esi {
            00:00:00:00:00:00:51:00:00:01;
            all-active;
        }
        aggregated-ether-options {
            lacp {
                active;
                system-priority 12;
                system-id 00:00:51:00:00:01;
                admin-key 12;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [ 10 20 30 40 ];
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    irb {
        unit 30 {
            family inet {
                address 10.1.30.3/24 {
                    virtual-gateway-address 10.1.30.254;
                }
            }
        }
        unit 110 {
            family inet {
                address 10.1.110.1/24 {
                    preferred;
                    virtual-gateway-address 10.1.110.254;
                }
            }
            mac 00:00:01:00:11:11;
        }
        unit 111 {
            family inet {
                address 10.1.111.1/24 {
                    virtual-gateway-address 10.1.111.254;
                }
            }
            mac 00:00:00:11:11:11;
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 100.0.2.2/32;
            }
        }
    }
}
policy-options {
    policy-statement Loadbalance {
        then {
            load-balance per-packet;
        }
    }
    policy-statement system {
        from interface lo0.0;
        then accept;
    }
}
routing-instances {
    MAC-VRF-BRIDGE-102 {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                extended-vni-list [ 100102 100103 ];
            }
        }
        vtep-source-interface lo0.0;
        service-type vlan-aware;
        route-distinguisher 100.0.2.2:102;
        vrf-target target:64512:102103;
        vlans {
            v102 {
                vlan-id 102;
                vxlan {
                    vni 100102;
                }
            }
            v103 {
                vlan-id 103;
                vxlan {
                    vni 100103;
                }
            }
        }
    }
    MAC-VRF-ERB-ASY {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                default-gateway do-not-advertise;
                extended-vni-list [ 100110 100111 ];
            }
        }
        vtep-source-interface lo0.0;
        service-type vlan-aware;
        interface ge-0/0/2.0;
        route-distinguisher 100.0.2.2:65535;
        vrf-target target:64512:110111;
        vlans {
            v110 {
                vlan-id 110;
                l3-interface irb.110;
                vxlan {
                    vni 100110;
                }
            }
            v111 {
                vlan-id 111;
                l3-interface irb.111;
                vxlan {
                    vni 100111;
                }
            }
        }
    }
    MAC-VRF-SYM {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                default-gateway do-not-advertise;
                extended-vni-list all;
            }
        }
        vtep-source-interface lo0.0;
        service-type vlan-aware;
        interface ae12.0;
        route-distinguisher 100.0.2.2:30;
        vrf-target targe:64512:30;
        vlans {
            v30 {
                vlan-id 30;
                vxlan {
                    vni 10030;
                }
            }
        }
    }
    Tenanat1 {
        instance-type vrf;
        protocols {
            evpn {
                ip-prefix-routes {
                    advertise direct-nexthop;
                    encapsulation vxlan;
                    vni 10050;
                }
            }
        }
        interface irb.30;
        route-distinguisher 100.0.2.2:50;
        vrf-target target:64512:50;
    }
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    router-id 100.0.2.2;
    autonomous-system 64512;
    forwarding-table {
        export Loadbalance;
    }
}
protocols {
    bgp {
        group Underlay {
            type external;
            family inet {
                unicast;
            }
            export system;
            local-as 65102;
            multipath {
                multiple-as;
            }
            neighbor 10.1.2.0 {
                peer-as 65100;
            }
            neighbor 10.2.2.0 {
                peer-as 65200;
            }
        }
        group Overlay {
            type internal;
            local-address 100.0.2.2;
            family evpn {
                signaling;
            }
            multipath {
                multiple-as;
            }
            neighbor 100.0.1.1;
            neighbor 100.0.1.2;
        }
    }
    evpn {
        encapsulation vxlan;
        extended-vni-list all;
    }
}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher 100.0.2.2:1;
    vrf-target target:64512:1;
}
vlans {
    v100 {
        vlan-id 100;
        vxlan {
            vni 100100;
        }
    }
    v101 {
        vlan-id 101;
        vxlan {
            vni 100101;
        }
    }
}