## Last commit: 2025-12-16 17:46:30 UTC by root
version 25.4R1.12;
system {
    host-name l3;
    root-authentication {
        encrypted-password "$6$nTv3wp4H$f6hZy6QP1IwcEqckiGezPgkVOlG9J7p38kuT1QPXgdm2fzGwUeMHK4LZNVW.Fx8Jq/w8EWJJXXo6jyds.KI0t0"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$wlHE4/e1$wo5cR5T8eco6FcrBYemxv41fVmztYui0KsZvl5IhbZR/tGMfXjdrq94ZxICSmb/nmvjN8Ad1OL3TKfM6mbq9n1"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 56;
        }
    }
    network-services enhanced-ip;
}
interfaces {
    ge-0/0/0 {
        mtu 9100;
        unit 0 {
            family inet {
                address 10.1.3.1/31;
            }
        }
    }
    ge-0/0/1 {
        mtu 9100;
        unit 0 {
            family inet {
                address 10.2.3.1/31;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members 20;
                }
            }
        }
    }
    ge-0/0/3 {
        vlan-tagging;
        mtu 9100;
        encapsulation flexible-ethernet-services;
        unit 0 {
            encapsulation vlan-bridge;
            vlan-id 20;
        }
    }
    ge-0/0/4 {
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members 101;
                }
            }
        }
    }
    ge-0/0/10 {
        mtu 9192;
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members 11;
                }
            }
        }
    }
    ge-0/0/11 {
        mtu 9192;
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members 22;
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    irb {
        mtu 9000;
        unit 11 {
            family inet {
                mtu 900;
                address 10.1.11.1/24;
            }
            mac 00:00:11:00:00:11;
        }
        unit 20 {
            family inet {
                address 10.1.20.1/24 {
                    virtual-gateway-address 10.1.20.254;
                }
            }
        }
        unit 22 {
            family inet {
                mtu 900;
                address 10.1.22.1/24;
            }
            mac 00:00:11:00:00:11;
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 100.0.2.3/32;
            }
        }
    }
}
policy-options {
    policy-statement LB {
        from interface lo0.0;
        then accept;
    }
    policy-statement LoadBalanc {
        then {
            load-balance per-packet;
        }
    }
}
routing-instances {
    MAC-VRF-SYM {
        instance-type mac-vrf;
        protocols {
            evpn {
                encapsulation vxlan;
                extended-vni-list all;
            }
        }
        vtep-source-interface lo0.0;
        service-type vlan-aware;
        interface ge-0/0/2.0;
        route-distinguisher 100.0.2.3:30;
        vrf-target target:64512:30;
        vlans {
            v20 {
                vlan-id 20;
                l3-interface irb.20;
                vxlan {
                    vni 10020;
                }
            }
        }
    }
    Tenanat1 {
        instance-type vrf;
        protocols {
            evpn {
                ip-prefix-routes {
                    advertise direct-nexthop;
                    encapsulation vxlan;
                    vni 10050;
                }
            }
        }
        interface irb.20;
        route-distinguisher 100.0.2.3:50;
        vrf-target target:64512:50;
    }
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    router-id 100.0.2.3;
    autonomous-system 65103;
    forwarding-table {
        export LoadBalanc;
    }
}
protocols {
    bgp {
        group Undrlay {
            family inet {
                unicast;
            }
            export LB;
            multipath {
                multiple-as;
            }
            neighbor 10.1.3.0 {
                peer-as 65100;
            }
            neighbor 10.2.3.0 {
                peer-as 65100;
            }
        }
        group Overlay {
            local-address 100.0.2.3;
            family evpn {
                signaling;
            }
            peer-as 64512;
            local-as 64512;
            multipath {
                multiple-as;
            }
            neighbor 100.0.1.1;
            neighbor 100.0.1.2;
        }
    }
    evpn {
        encapsulation vxlan;
        default-gateway advertise;
        extended-vni-list 101100;
    }
}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher 100.0.2.3:1;
    vrf-target target:64512:101100;
}
vlans {
    v101 {
        vlan-id 101;
        vxlan {
            vni 101100;
        }
    }
}